/* Mulish font from google font */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 24px 64px;
  font-family: "Mulish", sans-serif;
}

/* nav menu section css */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-icon{
  width: 3.5rem;
} 
.nav-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-heading {  
  font-size: 36px;
  font-weight: 800;
}
.guru-color,
.nav-menu li .guru-color {
  color: rgb(255, 84, 0);
}
.nav-menu {
  display: flex;
}
.nav-menu li {
  list-style: none;
  margin-right: 20px;
}
.nav-menu a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
/* nav banner css */
.header-container {
  margin: 24px 0;
  background-image: url("../Images/Group-13.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1170px;
  height: 500px;
  color: white;
  text-align: center;
  padding: 8px;
  border-radius: 16px;
}
.header-text {
  text-align: center;
  padding-top: 110px;
}
.header-text h2 {
  font-size: 64px;
  font-weight: 700;
}
.header-text p {
  padding: 16px 64px;
}
.form-container {
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 64px 96px;
  padding: 16px;
  border: none;
  border-radius: 8px;
}

.btn-field {
  color: white;
  background-color: rgb(255, 84, 0);
}
.input-field {
  width: 120px;
  border: 0;
  border-radius: 8px;
  padding: 8px;
  margin: 0 16px;
}

/* popular section css */

.popular-container {
  display: flex;
  justify-content: center;
  align-items: center;  
}
.popular-text {
  width: 50%;
  padding: 16px;
}
.popular-text h2 {
  font-size: 40px;
  margin-bottom: 8px;
}
.popular-text p,
li {
  font-size: 14px;
  padding: 4px 0;
  color: rgba(19, 19, 24, 0.7);
}
.popular-text button{
  margin:8px 0;

}
.popular-img {
  width: 50%;
  border-radius: 8px;
}

.popular-img img {
  width: 100%;
  height: 450px;
}
.similar-heading {
  text-align: center;
  font-size: 40px;
  padding-top: 24px;
  padding-bottom: 8px;
}
.similar-paragraph {
  text-align: center;
  padding: 0 180px 36px 180px;
  font-size: 16px;
  color: rgba(19, 19, 24, 0.7);
}

/* choose destination css */

.destination-img img{
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.destination-img{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;  
}
.grid-img{
  position: relative;  
}
.img-text{
  position: absolute;
  top: 50%;
  left: 42%; 
  color: white;
}
#img1, #img2{
  grid-column: span 6;
}
#img3{
  grid-column: span 4;
}
#img4{
  grid-column: span 5;
}
#img5{
  grid-column: span 3;
}
#img6{
  grid-column: span 5;
}
#img7{
  grid-column: span 7;
}

/* why choose up section */
.booking-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

.booking-display1{
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 24px;
  overflow: hidden;    
}
.booking-display1 div{
  background-color: rgba(233, 68, 68, 0.2); 
  padding: 16px;
  width: 100%;
  height: 100%;
}
.booking-display2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 200px;
  padding: 16px;
  background-color: rgba(233, 68, 68, 0.2);
  width: 50%;
  height: 100%;
}
.booking-heading{
  text-align: start;
  font-size: 24px;
}
.booking-paragraph{
  text-align: start;
  padding: 8px 64px 16px 0;
  font-size: 16px;
  color: rgba(19, 19, 24, 0.7);
}

/* subscribe newsletter section */
.subscribe-container{
  display: flex;
  flex: 1;
  margin-top: 36px;
}
.newsletter-container{
  width: 40%;
  margin: 0 16px;
  padding: 8px 12px;
}
.subscribe input{
  display: block;
  width: 100%;  
  margin: 24px 0;
  padding: 8px 16px;
  border: none;
} 
.subscribe button{
  width: 100%;
  margin: 0;
  padding: 8px 16px;
  font-size: 20px;
  font-weight: 800;
} 
.saveup-container{
  width: 60%;
  position: relative;
}
.saveup-img{
  width: 100%;
  height: 100%;
}
.saveup-img img{
  width: 100%;
  height: 100%;
}
.webaddress-btn{
  color: white;
  background-color: rgb(255, 84, 0);
  border: none;
  border-radius: 12px;
  padding: 40px 50px;  
  text-align: center;
  transform: rotate(-20deg) scale(0.85);
  position: absolute;
  bottom: 36px;
  right: 0;
}
.webaddress-btn p{
  font-size: 24px;
  }
.webaddress-btn h3{
  font-size: 32px;
  font-weight: 800;
}

/* extra section */
@keyframes extra {
  0%{
    left: 0;
    top: 0;
  }
  25%{
    left: 7rem;
    top: -2rem;
  }
  50%{
    left: 14rem;
    top: -2rem;
  }
  75%{
    left: 20rem;
    top: -2rem;
  }
  100%{
    left: 32rem;
    top: 0;
  }
}
.extra-container{
  display: flex;  
  align-items: center;
  margin: 24px 0;  
}
.extra-img1{
  flex-grow: 1;
  padding-left: 24px;
  position: relative;
  animation: extra 3s ease-in-out 1s infinite forwards;
}

.extra-img{
  width: 40%;
  height: 120px;
  border-radius: 8px;
}

/* footer section css */
footer {
  margin: 48px 0;
  
}
footer p {
  font-size: 14px; 
  text-align: center;   
  padding: 16px;  
}
#footer-para {
  font-size: 14px; 
  text-align: center; 
  padding: 8px 96px;
}
.social-media{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  
}
.all-right{
  margin: 8px;
}


/* Mobile responsesive */
@media screen and (max-width: 600px) {
  body {
    margin: 12px;    
  }

  /* responsive nav menu css */

  .nav-container {
    flex-direction: column;
    justify-content: center;    
  } 
  
  .nav-heading {
    font-size: 36px;    
  }  
  .nav-menu {
    flex-direction: column;
    align-items: start;
  }
  .nav-menu li {
    margin-right: 0;
  } 
   
  /* responsive nav banner css */
  .header-container {
    margin: 8px 0;
    max-width: 600px;
    height: 100%;   
    padding: 4px;
    border-radius: 8px;
  }
  .header-text {    
    padding-top: 20px;
  }
  .header-text h2 {
    font-size: 24px;
    font-weight: 800;
  }
  .header-text p {
    font-size: 14px;
    padding: 8px 24px;
  }
  .form-container {
    flex-direction: column;    
    margin: 24px;
    padding: 8px;    
  }    
  .input-field {
    width: 100%;
    border: 0;
    border-radius: 8px;
    padding: 24px;
    margin:  16px 24px;
  }

  /* responsive popular section css */
  .popular-container {
    flex-direction: column;
  }
  .popular-text {
    width: 100%;
    padding: 8px;
  }
  .popular-text h2 {
    font-size: 20px;
  }
  .popular-text p,
  li {
    font-size: 12px;
    padding: 4px 0;
  }
  .popular-img {
    width: 100%;
    border-radius: 4px;
  }

  .popular-img img {
    width: 100%;
    height: 350px;
  }
  .popular-text button {
    width: 150px;
  }
  /* responsive choose destination tour css */
  
  .destination-text h2 {
    font-size: 20px;
    padding: 8px 2px;
  }
  .destination-text p {
    padding: 0 24px 8px 24px;
    font-size: 12px;
    
  }  
  .destination-img{
    grid-template-columns: 1fr;
    height: 100%;
    gap: 0;    
  }
  .destination-img img{
    margin-top: 8px;
    height: 176px;
    object-fit: fill;
  }
  /* responsive why choose us section css*/
  .choose-up{
    max-width: 600px;    
    margin-top: 16px;
  }
  .choose-up h2{
    text-align: center;
    font-size: 20px;
    padding: 8px;
  }
  .choose-up p{
    text-align: center;
    font-size: 14px;
    padding: 8px;  
    color: rgba(19, 19, 24, 0.7);
  }
  .booking-container{    
    padding-left: 8px;
  }
  .booking-display1{
    flex-direction: column;
    justify-content:center;    
    gap: 8px;
    overflow: hidden;    
  }
  .booking-display1 div{  
    padding: 8px; 
    width: 100%;
    height: 100%;  
  }
  .booking-display2{
    flex-direction: column;    
    margin-top: 8px;
    padding: 8px;    
    width: 100%;
    height: 100%;    
  }
  .booking-heading{    
    font-size: 16px;
  }
  .booking-paragraph{    
    padding: 8px;
    font-size: 12px;    
  }
  /* responsive subscribe newsletter css */
.subscribe-container{
  flex-direction: column;
  margin-top: 16px;
}
.newsletter-container{
  width: 100%;
  margin: 8px 4px;
  padding: 8px;
  border-radius: 8px;
}
.subscribe input{
  width: 80%;  
  margin: 16px 8px;
  padding: 16px;
  border: none;
} 
.subscribe button{
  width: 80%;
  margin: 16px 8px;
  padding: 16px;
  font-size: 16px;
  font-weight: 800;
} 
.saveup-container{
  width: 100%;
}
.saveup-img{
  width: 100%;
  height: 100%;
}
.saveup-img img{
  width: 100%;
  height: 100%;
}
.webaddress-btn{   
  padding: 36px; 
  bottom: 36px;
}
.webaddress-btn p{
  font-size: 16px;
  }
.webaddress-btn h3{
  font-size: 24px;
  font-weight: 800;
}
/* responsive footer section css */

footer {
  margin: 16px 0;  
}

#footer-para {
  text-align: center;
  padding: 8px;
  font-size: 14px;  
}
.all-right{
  margin: 8px;
}
/* responsive extra section css */
.extra-container{  
  display: none;  
}



}
